body{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
.page{
    width: 500px;
    height: 600px;
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 20px solid rgb(119, 205, 237);
    padding:20px;
    box-sizing:border-box;
    background-clip: padding-box;
    position: relative;
       
}

.insights{
   color: #909be2;
    font-size: 18px;
   font-weight: bold;
   margin-bottom: 10px;
}
.hr{
    color: rgb(210, 143, 254);
    width: 120px;
    right: 200%;
    

}
.title{
    color: #1118ea;
    font-size: 45px;
     margin: 13px 0 15px 0;
    
   font-weight: bold;
    text-align: center;
    
}
.subtitle{
    color: #390c92;
    font-size: 18px;
    margin-bottom: 40px;
}
.edit{
    color: #0e8cc6;
    font-size: 18px;
    font-weight: bold;
    margin-top: 200px;
}
.name{
    color: #0a8dce;
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
   
}
.bottom{
    color: #4b0ecf;
    position: absolute;
    bottom: 50px;
    right: 60px;
    font-weight: bold;
}
.pic{
    position: absolute;
    bottom:90px;
    left: 75%;
    width: 100px;
    height:100px;
    background:url(mypic.jpg) no-repeat;
    background-size: 80px;
}


